body {
  margin: 0 auto;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(209, 209, 209);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.header {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
  height: 130px;
  margin-top: 30px;
}

#header-Img {
  position: absolute;
}

.nav { 
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight:500;
}
  
#start_date {
  margin-left: 5px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: rgb(209, 209, 209);
}
  
#end_date {
  margin-left: 5px;
  margin-right: 10px;
  border: 1px solid gray;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: rgb(209, 209, 209);
}

.search_btn {
  padding: 2px 20px 2px;
  border:gray 1px solid;
  border-radius: 5px;
}

.search_btn:hover {
  background-color: lightgray;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 2px 4px 12px rgb(0 0 0 /20%);
}

.logo {
  margin-bottom: -15px;
  display: relative;
}

#title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 40px;
  display: absolute;
}

#image-title {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}

.image-date{
  display: block;
  margin-top: 0px;
  color:gray;
  position: absolute;
  min-width:100px;
}
  
.image {
  width: 100%;
}

.video {
  width: 100%;
}

.like-btn {
  display: block;
  width: 65px;
  height: 65px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 0px;
  border: none;
  background-color: whitesmoke;
}

.like-btn:hover {
  cursor: pointer;
}
  
.footer {
  color: gray;
  font-size: 14px;
  text-align: center;
} 

#link {
  text-decoration: none;
}

#link:hover {
  color: darkgray;
}