body {
  margin: 0 auto;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(209, 209, 209);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
}

.form { 
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
  
#start_date {
  margin-left: 5px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(209, 209, 209);
}
  
#end_date {
  margin-left: 5px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(209, 209, 209);
}
  
.search-btn:hover {
  background-color: lightgray;
}

.search-btn {
  padding: 2px 20px 2px;
  border:gray 1px solid;
  border-radius: 5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  padding: 20px;
}

.logo {
  margin-bottom: -15px;
  display: relative;
}

#image-header {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 40px;
  display: absolute;
}

#image-title {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}

.image-date{
  display: block;
  margin-top: 0px;
  color:gray;
  position: absolute;
  min-width:100px;
}
  
.image {
  width: 100%;
}
  
.like-btn {
  display: block;
  margin-top: 7px;
  margin-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  background-color: whitesmoke;
}
  
 

